<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://i.stack.imgur.com/luaq2.png" height="200px">
    </div>
    <div class="big-card__title">
        <a href="#"><h1>Saiu a nova versão do Angular!</h1></a>
    </div>

    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea similique, ducimus in, pariatur, molestias et ad nulla explicabo commodi aliquam tempora voluptatibus non dolor officia quibusdam dolores voluptas eligendi cumque!</p>
    </div>
</div>
